<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/chat.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="/chats.js" defer></script>
    <title>Chat App</title>
</head>
<body>
    <main>
        <header>
           <div class="title">
            <img src="/icons/message-solid (1).svg" width="35px">
            <h1>Chat App</h1>
           </div>
           <!-- <button type="button" class="hamburger">Logout</button> -->
           <button  class="btn" id="creategroupBtn"><h4>Create Group/Join Group</h4></button>
           <button type="submit" class="btn" id="logoutBtn"><h4>Log out</h4></button>

        </header>
        <div class="container">
            <div class="user-window">
                <div class="people">
                    <div class="users-head" id="users-head">
                        <h3>People</h3>
                       
                    </div>
                    <div class="users-list" id="users-list">
                       
                    </div>
                </div>
                <div class="group-members">
                    <div class="group-header" id="group-header">
                        <h3>My Groups</h3>            
                    </div>
                    <div class="group-list" id="group-list">
                       <div class="chat-groups">
                        <p>Global Chat</p>
                       </div>
                    </div>
                </div>
            </div>
            <div class="chat-window" id="chat-window">
              <div class="chats" id="chats">
                 <!-- <div class="user-join" id="user-join">
                    <p><b>Itachi</b> joined the chat</p>
                </div> -->
               
              </div>
              <form id="message" onsubmit="sendChat(event)">
              <div class="user-input">
                <input type="text" name = 'chat' placeholder="Type your message. . . ." id="message-input">
                <button type="submit">SEND</button>
             </div>
            </form>
            </div>
        </div>
    </main>
</body>
</html>