<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/chat.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="/chats.js" defer></script>
    <title>Chat App</title>
</head>
<body>
    <main>
        <header>
           <div class="title">
            <img src="/icons/message-solid (1).svg" width="35px">
            <h1>Chat App</h1>
           </div>
           <button type="button" class="hamburger">Logout</button>
        </header>
        <div class="container">
            <div class="user-window">
                <div class="users-head">
                    <h3>People</h3>
                    <h4>3</h4>
                </div>
                <div class="users-list" id="users-list">
                    <!-- <p>Itachi</p>
                    <p>Sasuke</p>
                    <p>Naruto</p> -->
                </div>
            </div>
            <div class="chat-window" id="chat-window">
              <div class="chats" id="chats">
                <div class="user-join" id="user-join">
                    <!-- <p><b>Itachi</b> joined the chat</p> -->
                </div>
                <div class="message incoming" id="message incoming">
                    <!-- <h5>Itachi</h5>
                    <p>Amaterasu!</p> -->
                </div>
                <div class="message outgoing" id="message outgoing">
                    <!-- <h5>Sasuke</h5>
                    <p>Chidori</p> -->
                </div>
              </div>
              <form id="message" onsubmit="sendChat(event)">
              <div class="user-input">
                <input type="text" name = 'chat' placeholder="Type your message">
                <button type="submit">SEND</button>
             </div>
            </form>
            </div>
        </div>
    </main>
</body>
</html>