<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/chat.css">
    <title>Create Group</title>
</head>
<body>
    <main class="main-container">
        <header>
           <div class="title">
            <img src="/icons/message-solid (1).svg" width="35px">
            <h1>Chat App</h1>
           </div>
           <!-- <button type="button" class="hamburger">Logout</button> -->
          
           <button type="submit" class="btn">Join Group</button>
           <button type="submit" class="btn">Log out</button>

        </header>
        <div class="container">
            <div class="sub-container">
                <input type="text" name="groupname" placeholder="Enter group name . . .">
                <button type="submit">Create Group</button>
            </div>
        </div>
    </main>
</body>
</html>