<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/views/css/main.css">
</head>
<body>
  <div class="container">
    <form>
        <h1 class="title">Sign Up</h1>
        <div>
            
        <div class="div">
            <input type="username" placeholder="Username">
        </div>
        </div>

        <div>
           
            <div class="div">
             <input type="email" placeholder="Email">
             </div>
        </div>
        <div>
            
            <div class="div">
             <input type="text" placeholder="Phone Number">
             </div>
        </div>
        <div>
            
            <div>
             <input type="password" placeholder="Password">
            </div>
        </div>
        <div class="terms">
            <input type="checkbox" id="checkbox">
            <label for="checkbox">I agree to these <a href="#">Terms & Conditions</a></label>
        </div>
        <input type="submit" class="btn" value="Sign Up">
        <div class="member">
         <a href="/views/login.html">Already Registered? Login</a>
        </div>
    </form>
  </div>
</body>
</html>