<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/views/css/main.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="/signup.js" defer></script>
</head>
<body>
  <div class="container">
    <form onsubmit="signup(event)">
        <h1 class="title">Sign Up</h1>
            <input type="username" placeholder="Username" name="username">
             <input type="email" placeholder="Email" name="email">
             <input type="text" placeholder="Phone Number" name="phonenumber">
             <input type="password" placeholder="Password" name="password">
        <div class="terms">
            <input type="checkbox" id="checkbox">
            <label for="checkbox">I agree to these <a href="#">Terms & Conditions</a></label>
        </div>
        <input type="submit" class="btn" value="Sign Up">
        <div class="member">
         <a href="/views/login.html">Already Registered? Login</a>
        </div>
    </form>
  </div>
</body>
</html>