   
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

body{
    background-color: #dfe9f5;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);

}

main header{
    background-color:#10a5f5 ;
    color: white;
    padding: 7px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    border-radius: 10px 10px 0 0;  
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.title h1{
    font-family: apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 32px;
    margin-left: 10px;
}

/* .hamburger{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    display: none;
} */

.container{
    display: flex;
    background-color:#fff;
    padding: 20px;
    border-radius:  0 0 10px 10px;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.user-window{
    width: 350px;
    color: black;
    background-color: #dfe9f5;
    border-radius: 10px;
    padding: 15px 20px;
    margin-right: 20px;

}

.users-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    margin-bottom: 15px; 
}

.users-head h4{
     background-color: #a1b5ce;
     padding: 0 8px;
     border-radius: 50px;
     flex-direction: row;
     align-items: center;
}

.users-list p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.chat-window{
     width: 100%;
     border-radius: 10px;
     background-color: #dfe9f5;
}

.chats{
     min-height: 65vh;
     padding: 20px;
}

.user-join{
    font-size: 0.9rem;
    background-color: #fff;
    border-radius: 50px;
    width: max-content;
    padding: 5px 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: none;
}

.chats .incoming{
    background-color: #fff;
    padding: 5px 15px;
    max-width: fit-content;
    margin-bottom: 15px;
    border-radius: 10px 10px 10px 10px;
}

.message p{
    font-size: 16px;
}

.outgoing{
    padding: 5px 15px;
    max-width: fit-content;
    margin-bottom: 15px;
    margin-left: auto;
    background-color: #10a5f5;
    color: white;
    border-radius: 10px 10px 10px 10px;
    text-align: right;
}

.user-input{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between; 
    padding: 20px;
}

.user-input input{
    font-size: 16px;
    background-color: #fff;
    padding: 10px 20px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 50px 0 0 50px;
}

.user-input button{
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
    background-color: #10a5f5;
    border-radius: 0 50px 50px 0;
    padding: 5px 15px;
    cursor: pointer;
}

.btn{
    font-size: 17px;
    border: none;
    outline: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
    background-color: #10a5f5;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    cursor: pointer;
    justify-items: center;
}

.chat-groups{
    margin-bottom: 10px;
}

.chat-groups p{
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

#adduserBtn{
    visibility: hidden;
}

#removeuserBtn{
    visibility: hidden;
}

#makeuseradminBtn{
    visibility: hidden;
}
/* create-group css */

.main-container{
    width: 450px;
   
}


.sub-container{
    width: 100%;
    color: black;
    background-color: #dfe9f5;
    border-radius: 10px;
    padding: 15px 20px;
    margin-right: 20px;

}

.creategroup-container{
    margin-bottom: 30px;
    
}

.creategroup-container h2{
    padding: 10px;
    font-size: 22px;
}

.groupname{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between; 
}

.groupname input{
    font-size: 16px;
    background-color: #fff;
    padding: 10px 20px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    
}

.groupname button{
    font-size: 17px;
    border: none;
    outline: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
    background-color: #10a5f5;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    justify-items: center;
    margin-top: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.joingroup-container{
    margin-bottom: 20px;
    padding: 10px;
}

.joingroup-container h2{
    font-size: 24px;
}

.group-header{
    margin-bottom: 10px;
}

.chat-groups{
    padding: 10px ;
    width: 100%;
    background-color: #bed3ed;
    border-radius: 10px;
}

.people{
    margin-bottom: 10px;
    border-bottom: 3px solid#aabbd0
}

#globalchat{
    font-size: 15px;
}

#logout{
    font-size: 15px;
}

.join-group-container {
    align-items: center;
    justify-content: center;
}

.join-group{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.join-group button{
    cursor: pointer;
    font-size: 17px;
    border: none;
    outline: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
    background-color: #10a5f5;
    border-radius: 10px;
    padding: 5px 20px 7px 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.join-group p {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

/* addUser & removeUser attributes */
.removeuser-container{
    margin-top: 15px;
}
/* @media screen  and (max-width){
    main{
        width: 95%;
        
    }
} */